<div class="container" ng-controller="AddController">
<h4>Add Your Own Quote and Save Them!</h4>

  <form name="addOwnQuote" class="addOwnQuote" class="form-control" ng-submit="addQuote(quote)">
    <textarea class="form-control" rows="3" ng-model="quote.quote" placeholder="Enter a Quote You'd Like to Add" name="quote"></textarea>
    <input type="text" class="form-control" placeholder="Who said it? Give Credit!" name="author" ng-model="quote.author">
    <button type="submit" class="btn btn-default">Add Quote!</button>
  </form>


  <div class="displayMatch col-md-12 row" ng-show="match.exists">
    <div class="imgDisplay col-md-8">
      <img ng-src="{{match.url}}" class="img-rounded img-responsive" height="400px" width="600px">
      <span class="quote">{{match.quote}}</span>
      <span class="author">  ---{{match.author}}</span>
    </div>
    <div class="imagNav col-md-3">
      <button type="button" class="btn remove" ng-click="removeMatch()">Remove Display</button>
      <button type="button" class="btn" ng-click="tryAgain(match).bind(this)">Meh, Match me again!</button>
      <button type="button" class="btn" ng-click="SaveMe(match).bind(this)">Save ME!</button>
      </div>
  </div>

  <div class="displayQuotes" ng-repeat="data in data track by $index">  
    <div class="quoteBox col-md-4">
    <span class="quote">{{data.quote}}</span>
    <span class="author">  ---{{data.author }}</span>
    <div class="addons">
    <button type="button" class="btn btn-primary" ng-click="matchQuote(data).bind(this)">Match me!</button>
    <button type="button" class="btn btn-success" ng-click="tab=2">Save</button>
    <button type="button" class="btn btn-info addImage">Like Me!</button>
    <button type="button" class="btn btn-info tags" ng-click="tab=3">AddTags</button>

    </div>

    </div>
  </div>
</div>

